## 1. 라이브러리 선언 및 데이터 불러오기

In [1]:
import numpy as np
import pandas as pd

# 모델 라이브러리 선언
from sklearn import svm

# Test/Training 자동 분리
from sklearn.model_selection import train_test_split

# 모델 정확도 라이브러리 선언
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
np.random.seed(42) #랜덤 함수를 고정시키는 키워드(42번째 값으로 고정)

In [3]:
# 고객 데이터 읽어 들이기
csData = pd.read_csv("./dataset/customer.csv")

In [4]:
csData.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

## 2. 데이터셋 분리

In [5]:
# feature, label 컬럼 설정
featuresCol = ['deposit', 'stock']
labelCol = ['label']

# feature 데이터, label 데이터 분리
featuresData = csData[featuresCol]
labelData = csData[labelCol]

#train_test_split 함수를 활용해 feature / label 데이터 자동 분리(7:3)
feature_train, feature_test, label_train, label_test = \
    train_test_split(featuresData, labelData, test_size=0.3)

## 3. 모델 선언 : support vector 머신

In [6]:
# Define Model
model = svm.SVC()

#Learning (Feature & Label)
model.fit(feature_train, label_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

## 4. 예측

In [7]:
# 테스트데이터 Feature만 가지고 예측하기
predict = model.predict(feature_test)
predict

array(['normal', 'diamond', 'diamond', ..., 'normal', 'diamond',
       'diamond'], dtype=object)

## 5. 데이터정리

In [8]:
# 데이터프레임으로 변환
predictData = pd.DataFrame(predict)

#컬럼명 주입
predictData = predictData.rename(columns={predictData.columns[0]:'PREDICT'})

In [9]:
predictData.head()

   PREDICT
0   normal
1  diamond
2  diamond
3   normal
4  diamond

In [10]:
# 테스트 데이터와 예측값 붙이기
feature_test = feature_test.reset_index() #feature_test 인덱스 초기화

In [17]:
feature_test.head()

   index     deposit     stock
0  10650  1330000000  46000000
1   2041  1460000000  57000000
2   8668  1960000000  44000000
3   1114  1350000000  36000000
4  13902  1700000000  67000000

In [20]:
mergeData = pd.merge(feature_test, label_test, left_on="index", right_on="index")

In [14]:
label_test = label_test.reset_index(drop=True)

In [16]:
label_test.head()

   index    label
0  10650   normal
1   2041  diamond
2   8668  diamond
3   1114   normal
4  13902  diamond

In [21]:
mergeResult = pd.concat([mergeData, predictData], axis = 1)

In [22]:
mergeResult.head()

   index     deposit     stock    label  PREDICT
0  10650  1330000000  46000000   normal   normal
1   2041  1460000000  57000000  diamond  diamond
2   8668  1960000000  44000000  diamond  diamond
3   1114  1350000000  36000000   normal   normal
4  13902  1700000000  67000000  diamond  diamond

In [23]:
mergeResult.to_csv('mergeResult.csv',index=False)

## 6. 결과검증

In [25]:
# 결과 테스트하기
ac_score = accuracy_score(label_test, predict)
cl_report = classification_report(label_test, predict)

# 결과 리포트하기
print("Accuracy =", ac_score)
print("result=\n", cl_report)

TypeError: '<' not supported between instances of 'str' and 'int'