In [2]:
import pandas as pd

In [3]:
inputdf = pd.read_csv("../dataset/pro_actual_sales.csv")

In [4]:
groupKey =['regionSeg1', 'productSeg2', 'regionSeg2', 'regionSeg3', 'productSeg3']

In [5]:
groupData = inputdf.groupby(groupKey)

In [19]:
eachData = groupData.get_group(list(groupData.groups)[420])  # 그룹 단위 데이터 중 하나를 가져와서 이상 데이터 여부 확인

In [20]:
eachData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
88008,A01,NaN,PG03,SALESID0001,SITEID0001,ITEM0181,201516,2015,16,3
88009,A01,NaN,PG03,SALESID0001,SITEID0001,ITEM0181,201517,2015,17,4
88010,A01,NaN,PG03,SALESID0001,SITEID0001,ITEM0181,201518,2015,18,10
88011,A01,NaN,PG03,SALESID0001,SITEID0001,ITEM0181,201519,2015,19,14
88012,A01,NaN,PG03,SALESID0001,SITEID0001,ITEM0181,201520,2015,20,12

In [ ]:
def minmaxweek(inputdf) :
    inputdf.reset_index(drop = True, inplace = True)
    
    minYW = min(inputdf['yearweek']) 
    maxYW = 201627 ##전체 ITEM의 확정된 maxYW 
    fullYearWeek = []
    fullYearWeek.append(minYW)
    
    while(max(fullYearWeek) < maxYW) :
        inputYW = int(postWeek(max(fullYearWeek),1))
        fullYearWeek.append(inputYW)
        
    diffYearWeek = list(set(fullYearWeek).difference(set(list(inputdf.yearweek.values)))) #difference는 set형식에서만 사용할 수 있음
    

    
    result = {
        'regionSeg1': [],
        'productSeg1': [],
        'productSeg2': [],
        'regionSeg2': [],
        'regionSeg3': [],
        'productSeg3': [],
        'yearweek': [],
        'year': [],
        'week': [],
        'qty': []
    }
    
    result = OrderedDict(result) ## dict형은 입력한 값 순서대로 출력되지 않고 뒤죽박죽 => OrderedDict() 사용하여 보정
    
    for i in range(len(diffYearWeek)) :
        result['regionSeg1'].append(list(inputdf.loc[0].values)[0])
        result['productSeg1'].append(list(inputdf.loc[0].values)[1])
        result['productSeg2'].append(list(inputdf.loc[0].values)[2])
        result['regionSeg2'].append(list(inputdf.loc[0].values)[3])
        result['regionSeg3'].append(list(inputdf.loc[0].values)[4])
        result['productSeg3'].append(list(inputdf.loc[0].values)[5])
        result['yearweek'].append(int(int(diffYearWeek[i])))
        result['year'].append(int(diffYearWeek[i]/100))
        result['week'].append(int(diffYearWeek[i]%100))
        result['qty'].append(int(0))
    
    resultData = DataFrame(result)
    
    concatResultData = pd.concat([inputdf, resultData])
    concatResultData = concatResultData.reset_index(drop = True)
    
    concatResultData['qty'] = concatResultData['qty'].astype('int')
    concatResultData['yearweek'] = concatResultData['yearweek'].astype('int')
    concatResultData['year'] = concatResultData['year'].astype('int')
    concatResultData['week'] = concatResultData['week'].astype('int')
    
    return concatResultData

In [21]:
minYW = min(eachData['yearweek'])

In [22]:
minYW

201516

In [23]:
maxYW = max(eachData['yearweek'])

In [24]:
maxYW

201627

In [22]:
fullYearWeek = []
fullYearWeek.append(minYW)

In [23]:
fullYearWeek

[(('A01', 'PG01', 'SALESID0001', 'SITEID0001', 'ITEM0001'), 28546    201301
  28547    201303
  28548    201304
  28549    201305
  28550    201307
  28551    201310
  28552    201312
  28553    201314
  28554    201315
  28555    201316
  28556    201317
  28557    201319
  28558    201320
  28559    201322
  28560    201323
  28561    201324
  28562    201325
  28563    201326
  28564    201327
  28565    201328
  28566    201330
  67859    201439
  67860    201451
  68718    201538
  68719    201549
  Name: yearweek, dtype: int64)]

In [17]:
from isoweek import Week

In [19]:
postWeek(201550, 15)

'201612'

In [1]:
def postWeek(inputYW, gapWeek) :
    inputYW = str(inputYW)
    inputY = inputYW[0:4]
    inputW = inputYW[4:]
    
    gapWeek = int(gapWeek)
    
    sumWeek = int(inputW) + gapWeek
    
    currYear = int(inputY)
    lastWeek = Week.last_week_of_year(currYear).week
    
    while(sumWeek > lastWeek) :
        sumWeek -= lastWeek
        currYear += 1
        lastWeek = Week.last_week_of_year(currYear).week
        
    if(lastWeek < 10) :
        lastAnswer = str(currYear) + "0" + str(sumWeek)
    else :
        lastAnswer = str(currYear) + str(sumWeek)
    
    return lastAnswer

In [ ]:
# fullyearweek make test

yearweekList = [201501,201502,201505]

In [ ]:
itemList = ['item0445','item0445','item0445']

In [ ]:
qtyList = [5,7,4]

In [ ]:
qtydf = pd.DataFrame(qtyList)

In [ ]:
itemdf = pd.DataFrame(itemList)

In [ ]:
yearweekdf = pd.DataFrame(yearweekList)

In [ ]:
a = pd.concat([itemdf,yearweekdf,qtydf],axis=1)

In [ ]:
a.columns

In [ ]:
a.columns = ['items','yearweek','qty']

In [ ]:
a

In [ ]:
a.reset_indexs('yearweek')

In [ ]:
minyearweek = a.yearweek.min()

In [ ]:
maxyearweek = a.yearweek.max()

In [ ]:
minyearweek

In [ ]:
fullyearweek = []

In [ ]:
fullyearweek.append(minyearweek)

In [ ]:
fullyearweek.append(maxyearweek)

In [ ]:
fullyearweek

In [ ]:
fullyearweek= []

In [ ]:
i = minyearweek

In [ ]:
fullyearweek.append(i)

In [ ]:
fullyearweek

In [ ]:
while (max(fullyearweek) < 201505):
    fullyearweek.append(i+1)
    i = i + 1

In [ ]:
newyearweekList = list(set(fullyearweek).difference(set(list(a.yearweek.values))))

In [ ]:
a.loc[3] =["item0445",201505,3]

In [ ]:
a.loc[4,'yearweek'] = 201503

In [ ]:
a.loc[len(a)+1,'yearweek'] = 201503

In [ ]:
a.loc[len(a)+1,'yearweek']